# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/
ENV/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# FAISS index files
*.index
